@import url("https://fonts.googleapis.com/css?family=Lato:400,900&display=swap");

:root {
  --status-enter-chat: hsla(120, 30%, 35%, 0.7);
  --status-exit-chat: hsla(0, 40%, 30%, 0.7);
}
body,
html {
  margin: 0;
  box-sizing: border-box;
  font-family: "Lato";
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.app {
  height: 100vh;
  width: 100vw;
  display: grid;
}

.display-area {
  display: flex;
  height: 90vh;
  width: 100vw;
}

//STATUS BAR

.status-bar {
  height: 25px;
  min-height: 25px;
  width: 100%;
  background-image: linear-gradient(to right, hsl(244, 89%, 35%), hsl(244, 89%, 61%));
  color: hsl(244, 100%, 86%);
  display: grid;
}

.statusbar__current-user {
  justify-self: flex-end;
  width: 200px;
}

// MODAL
.register-username {
  height: 100vh;
  width: 100vw;
  background-color: hsla(0, 0%, 0%, 0.8);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all ease-in 0.7s;
  form {
    position: absolute;
    background-color: #eaeaea;
    height: 100px;
    width: 350px;
    border: 3px solid black;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

// CHAT AREA

.display-chat {
  flex: 8;
  width: 100%;
  height: 100%;
  border: 1px solid black;
  padding: 1rem;
  overflow: auto;
  word-break: break-all;
}
.display-chat__status {
  font-style: italic;
  color: hsl(0, 0%, 29%);
  margin: 0.5rem 0;
  letter-spacing: 0.4px;
}

.display-chat__status-enter {
  color: var(--status-enter-chat);
}
.display-chat__status-exit {
  color: var(--status-exit-chat);
}

// USER MESSAGES

.display-chat__message-container {
  margin: 0;
}
.display-chat__message-author {
  font-weight: 900;
}
.display-chat__message-content {
  padding-left: 0.25rem;
}

//ALL USERS

.userlist {
  flex: 2;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  padding: 0 0.75rem;
}
.userlist__name {
  border: 1px solid #efefef;
  width: 100%;
  border-radius: 7px;
  padding: 3px 8px;
  user-select: none;
  &:hover {
    background-color: #d3d3d35e;
  }
}

// MESSAGE INPUT

.text-entry {
  width: 100vw;
  height: 7vh;
  display: flex;
  border: 1px solid black;
  input[type="text"] {
    flex: 8;
    font-size: 16px;
  }
  input[type="submit"] {
    flex: 2;
    background-color: transparent;
  }
}
